/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/* STYLES */

/*  Fonts */
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #540b51;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    padding: 30px
}

.slacklogo {
    max-height: 50px;
}

.navbar button {
    background:#540b51;
    border: 0px;
}

.navbar ul {display:none;}

button {
    text-transform: uppercase;
    font-weight: bolder;
}

header button{
    background-color: whitesmoke;
    color: #540b51;
    width: 50vh;
    border: #F3EAE2;
    padding: 15px;
    margin: 15px;
}

.Googlebutton {
    background-color: #4285F4;
    color: whitesmoke;
    margin top: 0;
    padding top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Googlebutton img{

    padding: 0;
    margin: 0;
    width: 20px; 
    height: 20px; 
    background-color: whitesmoke;
}


header {
  display:flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

header p span {
    color: #ECB12F;
}

header img {
    width: 100%;
}

header h1 {

font-size: 5rem;
}

.companies {
    background-color: #F3EAE2;
    color: black;
    padding: 75px 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    text-align: center;
}

.companies p{
    text-align: center;
    text-transform: uppercase;
    text-rendering: auto;
}

.logos img {
    max-height: 80px;
    padding: 10px;
    text-align: center;
}

.teams {
    background-color: whitesmoke;
    text-align: center;
    padding: 40px;
}

.teams h3 {
    color: #540b51;
    font-size: 3rem;
    font-weight:bold;
}

.percent {
    color: #540b51;
    font-size: 5rem;
}

.welcome {
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome h3 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight:bold;
    padding-bottom: 20px;
}

.trialbutton {
    background-color: whitesmoke;
    color: #540b51;
    width: 50vh;
    border: #F3EAE2;
    padding: 15px;
    margin-bottom: 20px;
}

.contactbutton {
    background-color: #540b51;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    width: 50vh;
    padding: 15px;
}

.footer {
    padding: 15px;
    background-color: whitesmoke;
}
.footer hr {
    margin-top: 20px;
}
ul {
    list-style: none;
}

.footer-list {
    padding: 20px;

}

.footer-list li {
    padding-top: 20px;
    font-size: smaller;
    font-weight: bold;
}

.footer-icons {
padding: 20px;
display:flex;
flex-direction: row;
justify-content: space-between;
border: none
}

footer {
    margin-bottom: 50px;
    background-color: whitesmoke;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;}
    
    .header-image {
    
    }

        .companies {
        background-color: #F3EAE2;
        color: black;
        padding: 75px 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    .companies p{
        text-align: center;
        text-transform: uppercase;
        text-rendering: auto;}
    .logos {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max width: 100%;
    }

    .logos img{
            max-height: 55px;
            padding: 10px;
            text-align: center;
        }

        .footer-list {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }
         
         .teams h3 {
                
                font-size: 2rem;
                margin-top: 15px;
                margin-bottom: 15px;
            }   
        
    .teams ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }

    .percent {
        color: #540b51;
        font-size: 3rem;
    }

    header {
        text-align: left
    }

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
    }

    .header-image {
        height: 480px; 
        width: 800px;
  }

  header {margin-top: 100px;}

  .navbar {
    position: fixed;
    background-color: #540b51;
    margin-block-end: 50px;
    border-bottom: gray solid 1px;
    height: 100px;
  }
}
